* {
    box-sizing: border-box;
}

:root {
    --color-primary: #202225;
    --color-secondary: #cdc8c8;
    --cursor-color: #d7fcff;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

/*================Webpage==================*/
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

.nav {
    width: 100vw;
    height: 10em;
    border-bottom: 1px solid var(--color-secondary);
    display: flex;
    background-color: var(--color-primary);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav .landing-text {
    font-family: 'Azonix';
    word-wrap: normal;
    cursor: default;
    font-size: 3.5em;
    font-weight: 900;
    padding: 0 1em;
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    transition: ease-out 0.2s;
}

.landing-text:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}


.pages {
    width: 100vw;
    height:calc(100% - 10em); 
    display: flex;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#landing {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

#landing .one, #landing .two {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#landing .separator {
    height: 60%;
    width: 2px;
    margin: 0 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-secondary);
    opacity: 0.4;
}

.landing__img {
    width: 100%;
    height: auto;
    margin-top: 3%;
    border: 2px solid #ffffff33;
    user-select: none;
}

#landing .two {
    align-items: center;
    justify-content: center;
    padding: 10% 2em 10% 0;
}

#landing .two .text {
    font-family: 'Rowdies', cursive;
    text-align: left;
    word-wrap: normal;
    margin: 0 auto;
    cursor: default;
    font-size: 1.76em;
    font-weight:300;
    opacity: 0.8;
    word-wrap: break-word;
    padding-right: 25px;
    margin-bottom: 10%;
    color: var(--color-secondary);
}

#explore {
    padding: 0.5em 1em;
    border: 2px solid var(--color-secondary);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Rowdies';
    color: var(--color-secondary);
    font-size: 2em;
    font-weight: 100;
    transition: ease-in 0.2s;
    user-select: none;
    display: flex;
    flex-direction: row;
}   

#explore svg {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    transition: ease-in 0.2s;
    transition: transform 0.4s ease-out;
}

#explore svg path {
    stroke: var(--color-secondary);
}

#explore:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

#explore:hover svg path {
    stroke: var(--color-primary);
}

#explore:hover svg {
    transform: translateX(10px);
}




/*=================Remote Classes=========== */

.tpm {
    color: var(--color-secondary);
}






/*================Custom Cursor============*/
.cursor {
    width: 23px;
    height: 23px;
    position: fixed;
    mix-blend-mode: difference;
    pointer-events: none;
    border-radius: 50%;
    border: 1px solid var(--cursor-color);
    z-index: 999;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition-timing-function: linear;
}

.cursor-dot {
    z-index: 999;
    position: fixed;
    padding: 2.2px;
    border-radius: 50%;
    background: var(--cursor-color);
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition-timing-function: linear;
}

/*================Scrollbar================*/
/* width */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    border-left: 1px solid #3f3f3fa7;
}

::-webkit-scrollbar-thumb {
    background-color: #6161614b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #61616187;
}

::selection {
    background-color: rgba(183, 172, 172, 0.515);
}

/*=========Custom Fonts========= */
@font-face {
    font-family: 'Azonix';
    src: url('/res/fonts/Azonix.otf');
}

/*================Noise Effect=============*/
.noise {
    position: fixed;
    z-index: 9999;
    top: -300%;
    left: -150%;
    height: 600%;
    width: 600%;
    -webkit-animation: grain 7s steps(10) infinite;
    animation: grain 7s steps(10) infinite;
    background-image: url(/res/noise.png);
    background-size: 200px;
    background-repeat: repeat;
    opacity: .25;
    pointer-events: none
}

@-webkit-keyframes grain {

    0%,
    to {
        transform: translate(0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%)
    }

    70% {
        transform: translateY(15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}

@keyframes grain {

    0%,
    to {
        transform: translate(0)
    }

    10% {
        transform: translate(-5%, -10%)
    }

    20% {
        transform: translate(-15%, 5%)
    }

    30% {
        transform: translate(7%, -25%)
    }

    40% {
        transform: translate(-5%, 25%)
    }

    50% {
        transform: translate(-15%, 10%)
    }

    60% {
        transform: translate(15%)
    }

    70% {
        transform: translateY(15%)
    }

    80% {
        transform: translate(3%, 35%)
    }

    90% {
        transform: translate(-10%, 10%)
    }
}
