* {
    box-sizing: border-box;
}

:root {
    --primary: #3f3342;
    --primary2: #3f3342;
    --secondary: #f1f1f1;
    --cursor-color: #8ea8ca;

    --primary-gradient: linear-gradient(90deg, #755b7c 0%, #40689b 100%);
    --primary2-gradient: linear-gradient(90deg, #5c4363 0%, #284a76 100%);

    --text: #bfbaba;
    --text2: #b9c8cb;
    --adrak: #0C1016;
    --adrak2: #1d242d;
    --shade: #69858b11;
    --whitish: #cdc4c447;
    --scrollbar-thumb: #373737;
    --very-light-gray: #f1f1f174;
    --header-height: 8em;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    font-size: 13px !important;
}

/*================Webpage==================*/
main {
    min-width: 100%;
    height: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    cursor: none;
    background: var(--primary);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--header-height);
    display: flex;
    background: transparent;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 22;

    --nav-opacity: 0;
}

.nav::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--adrak2);
    opacity: var(--nav-opacity);
    z-index: -1;
    border-bottom: 3px solid var(--shade);
}

.nav.nav-open::after {
    border-bottom-color: transparent;
}

.nav .landing-text {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    transition: ease-out 0.2s;
    padding-left: 1em;
    user-select: none;
    font-size: calc(var(--header-height)/2.2);
    color: var(--text);
}

.nav .landing-text h2 {
    font-size: inherit;
    font-family: 'Azonix';
    word-wrap: normal;
    font-weight: 900;
    padding: 0.3em 0.4em;
    border-radius: 10px;
}

.nav .landing-text h2:hover {
    background: var(--shade);
}

.opacitize {
    opacity: 0.7;
}

:root[theme='light'] .opacitize {
    opacity: 0.8;
}

.opacitize:hover {
    background: transparent;
    color: var(--text);
    opacity: 1 !important;
}

/*========Menu========== */

.menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
    background: var(--adrak2);
    z-index: 20;
}

.menu.menu-open {
    padding: 0 1em;
    padding-top: calc(var(--header-height) + 4em);
    padding-bottom: 4em;
}

.menu-separator {
    width: 90%;
    height: 3px;
    border-radius: 20px;
    opacity: 0.1;
    background: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: scaleX(0);
}

.menu .menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    flex-direction: column;
    opacity: 0;
    padding: 0 5%;
}

.menu-extras {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4em;
}

.menu-extras #theme-btn {
    width: 4em;
    height: 4em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.5em;
    scale: 1.2;
    background: var(--shade);
    z-index: 50;
}

#theme-btn svg {
    scale: 1.3;
}

.menu-extras #theme-btn:hover {
    background: transparent;
}

.menu-links {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu-links a {
    height: 100%;
    text-decoration: none;
    color: var(--text);
    font-size: 1.8em;
    font-weight: 100;
    font-family: 'Rowdies';
    transition: ease-out 0.2s;
    margin: 0 1em;
    opacity: 0.8;
    position: relative;
    cursor: pointer;
}

.underline-hover:after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    bottom: 0;
    height: 3px;
    margin: -5px 0;
    border-radius: 10px;
    left: 0;
    background: var(--secondary);
    transition: all 0.1s ease-out;
    opacity: 0.5;
}

.underline-hover:hover:after {
    width: 100%;
}

.menu-links a:hover .arrow {
    transform: translate(0.2em, -0.2em);
}

.menu-links a .arrow {
    display: inline-block;
    margin-right: 0.2em;
    font-family: 'sharlee';
    transition: ease-out 0.1s;
}

.menu-links a:hover {
    color: var(--text);
    opacity: 0.9;
}

.nav-lottie div {
    width: 100%;
    height: 100%;
    scale: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    counter-reset: counter 0;
    list-style: none;
}

.menu-items li h2::after {
    content: "0" counter(counter);
    position: absolute;
    font-size: 1.8vmin;
    left: -2.2em;
    bottom: -0.5em;
    transition: ease-out 0.2s;
}

.menu-items li {
    width: max-content;
    counter-increment: counter;
    opacity: 0.6;
    padding: 0.8em 2em;
    padding-left: 4em;
    border-radius: 10px;
    margin: 1px 0;
    transition: transform 0.2s ease-out, background-color 0.2s ease-out, opacity 0.2s ease-out;
    color: var(--text);
}

.menu-items li h2 {
    line-height: 100%;
    letter-spacing: 0.02em;
    transition: ease-out 0.2s;
    font-size: 2.5em;
    font-weight: 800;
    font-family: 'Azonix';
    position: relative;
    margin: 0;
    width: fit-content;
    
}

.menu-items li:hover {
    opacity: 1;
    background: var(--shade);
    transform: translateX(0.5em);
}

.menu-items li h2::before {
    content: attr(content);
    position: absolute;
    color: var(--text);
    top: 0;
    left: 0;
    width: 0%;
    overflow: hidden;
}

.nav .options {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 70%;
    padding: 0 1em;
    overflow: hidden;
}

.nav .options span {
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--text);
    border-radius: 10px;
}

#menu-btn svg {
    scale: 3;
}

#menu-btn:hover {
    background: var(--shade);
}

.fixed-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    background: var(--adrak);
}

.fixed-page-container {
    width: auto;
    height: 100%;
    background: inherit;
    position: relative;
    overflow: hidden;
}


#landing-img {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    position: relative;
}

.fixed-page-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: linear-gradient(90deg, var(--adrak) 0%, transparent 100%);
}

.fixed-page-container::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 100%;
    background: radial-gradient(circle, transparent 40%, var(--adrak) 100%);
}


.pages {
    width: 100vw;
    height: 100vh;
    z-index: 3;
    background: transparent;
}

.section-divider {
    width: 100%;
    height: 3px;
    background: var(--adrak);
    position: relative;
}

.section-divider::after {
    content: "";
    position: absolute;
    left: 5%;
    top: 4em;
    width: 90%;
    height: 100%;
    background: var(--shade);
}

.page {
    width: 100%;
    height: max-content;
    min-height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: var(--header-height) !important;
    align-items: center;
    background: var(--adrak);
}

/* =======================Landing Page============ */

.page#landing {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4em;
    background-image: linear-gradient(180deg, transparent 90%, var(--adrak) 100%);
}

#landing .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px 4em;
    z-index: 2;
}

#landing .container .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 700px;
}

#landing .container .content p {
    text-align: left;
}

#landing .title {
    color: var(--text);
    font-size: 3.5em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.1em;
    font-family: 'Rowdies';

}

#landing .subtitle {
    color: var(--text);
    font-size: 1.7em;
    font-weight: lighter;
    text-align: center;
    font-family: 'sharlee';
    font-weight: 100;
    opacity: 0.7;
}


/* ============Trust page============= */

#trust {
    flex-direction: row;
    padding: 0 4em;
}


#trust .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#trust .content .qna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trust .content .qna > .ques, .ans {
    text-align: center;
    padding: 0 0.5em;
}

#trust .qna .ques {
    display: block;
    font-size: 3.5em;
    font-weight: 400;
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Rowdies';
    margin-bottom: 0;
}

#trust .qna .ans {
    font-size: 1.5em;
    font-weight: 400;
    color: var(--text);
}

#trust .methods {
    width: 90%;
    height: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: calc(var(--header-height)/2) 0;
}

#trust .methods .method {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: var(--shade);
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.12s ease-in;
    border: 1px solid var(--shade);
}

#trust .methods .bharosa {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--text2);
    padding: 1em 2em;
    padding-top: 0;
    z-index: 1;
}

#trust .methods .bharosa h2 {
    font-size: 1.6em;
    margin-bottom: 0.2em;
    width: 100%;
    font-family: 'Rowdies';
    font-weight: 100;
}

#trust .methods .bharosa p {
    font-size: 1.11em;
    font-weight: 200;
    letter-spacing: 0.4px;
    font-family: 'sharlee';
}

#trust .method .img-container img {
    width: 100%;
    height: auto;
    user-select: none;
    opacity: 0.8;
}

#trust .methods .separator {
    height: 100%;
    margin: 0 1em;
}

#trust .methods .method:hover {
    transform: translateY(-6px);
    box-shadow: 0 5px 5px 0 var(--primary);

}


/*=============Issues Page============*/
#issues {
    display: flex;
    flex-direction: column;
    padding: 0 4em;
}

#issues .content {
    height: 100%;
    width: 100%;
    padding: 0 4em;
    padding-bottom: 4em;
    color: var(--text);
}

#issues .introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#issues .introduction .heading {
    margin-top: 1.5em;
    display: block;
    font-size: 3.5em;
    font-weight: 200;background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Rowdies';
    margin-bottom: 0;
    text-align: left;
    padding-right: 0.5em;
}

#issues .introduction .elaborate {
    font-size: 1.5em;
    font-weight: 400;
    color: var(--text);
    text-align: left;
    font-family: 'sharlee';
    letter-spacing: 0.4px;
    line-height: 1.4em;
}

#issues .introduction .elab2 {
    font-size: 1.4em;
}

#issues .introduction .dikkats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin-top: 3em;
}

#issues .introduction .dikkats span {
    background: var(--shade);
    font-size: 1.5em;
    color: var(--text);
    text-align: left;
    position: relative;
    padding: 0 1em;
    border-radius: 10px;
    transition: all 0.1s ease-in;
    box-shadow: 0px 2px 2px 0px var(--adrak);
    z-index: 122;
    opacity: 0.8;
    border: 2px solid var(--shade);
}

#issues .introduction .dikkats span:hover {
    transform: translate(0px, -5px);
    box-shadow: 0px 4px 0px 0px var(--shade);
}

#issues .introduction .dikkats span p {
    opacity: 0.8;
    font-family: 'sharlee';
    font-size: 0.9em;
}

#issues .introduction .dikkats span h4 {
    font-size: 1.1em;
    margin-bottom: 0;
    font-family: 'Rowdies';
    font-weight: 100;
}

#issues .aiimp {
    list-style: none;
    margin: 0;
    margin-top: 1em;
    margin-left: 1em;
}

#issues .aiimp li {
    font-weight: 200;
    font-family: 'sharlee';
    letter-spacing: 0.4px;
    line-height: 1.4em;
    margin-bottom: 1em;
    font-size: 1.4em;
    opacity: 0.8;
}

#issues .aiimp li b {
    font-family: 'Rowdies';
    font-weight: 100;
}

#issues .aiimp li i {
    font-style: normal;
    margin-left: 0.5em;
}

#issues .skjsao {
    font-family: 'Rowdies';
    font-weight: 100;
    font-size: 1.8em;
}

#issues .aiimp li::before {
    content: "→";
    color: var(--text);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#issues .boxofshame {
    width: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3em;
    background: var(--shade);
    border-radius: 10px;
    opacity: 0.8;
}


/*============= Solutions Page ============= */

#solutions {
    display: flex;
    flex-direction: column;
    padding: 0 4em;
}

#solutions .content {
    height: 100%;
    width: 100%;
    padding: 0 4em;
    padding-bottom: 4em;
}

#solutions .introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#solutions .introduction .heading {
    margin-top: 1.5em;
    display: block;
    font-size: 3.5em;
    font-weight: 200;
    font-family: 'Rowdies';
    margin-bottom: 0;
    padding: 0 0.5em;
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#solutions .introduction .elaborate {
    font-size: 1.5em;
    font-weight: 400;
    color: var(--text);
    font-family: 'sharlee';
    letter-spacing: 0.4px;
    line-height: 1.4em;
    text-align: center;
}

#solutions .sols {
    width: 100%;
    height: 100%;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Make every even child appear on right side */

#solutions .sols .sol {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 6em 4em;
    border-radius: 10px;
    margin: 1.5em 0;
    position: relative;
    overflow: hidden;
    background: var(--adrak);
    border: 3px solid var(--shade);
}

#solutions .sols .sol .upaya {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 4;
    user-select: contain;
    transition: transform 0.2s ease-in;
    transform: translateX(3em);
}

#solutions .sols .sol .upaya h2 {
    align-items: left;
    font-family: 'Rowdies';
    font-weight: 200;
    margin-bottom: 0.5em;
    font-size: 3em;
    width: max-content;
    padding-right: 0.5em;
    color: var(--text);
}

#solutions .sols .sol .upaya p {
    font-family: 'sharlee';
    font-size: 1.3em;
    margin-top: 0.5em;
    width: 55%;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--text);
    opacity: 0.8;
}

#solutions .sols .sol .chitra {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    user-select: none;
    transition: all 0.2s ease-in;
    transform-origin: bottom;
    filter: blur(10px);
    background: var(--adrak);
    overflow: hidden;
}

#solutions .sols .sol .chitra img {
    width: calc(100% - 2px);
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 2;
}

#solutions .sols .sol .chitra::before {
    content: "";
    position: absolute;
    width: 102%;
    height: 100%;
    left: -2%;
    z-index: 3;
    background: linear-gradient(90deg, var(--adrak) 0%, transparent 50%);
}

#solutions .sols .sol .chitra::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
    background: radial-gradient(ellipse at right, transparent 0%, var(--adrak) 100%);
}


#solutions .sols .sol:hover .upaya {
    transform: translateX(1em);
}

#solutions .sols .sol:hover .chitra {
    filter: blur(0px);
    transform: scale(1.05);
}

/* =============== Conclusion Page =============== */

#conclusion {
    display: flex;
    flex-direction: column;
    padding: 0 4em;
}

#conclusion .content {
    height: 100%;
    width: 100%;
    padding: 0 4em;
    padding-bottom: 4em;
}

#conclusion .introduction {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#conclusion .introduction .heading {
    display: block;
    font-size: 3.5em;
    font-weight: 200;
    color: var(--text);
    font-family: 'Rowdies';
    margin-bottom: 0;
    text-align: center;
}

#conclusion .quote {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 3em;
    font-family: 'Rowdies';
    font-weight: 200;
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#conclusion .introduction .elaborate {
    font-size: 1.5em;
    font-weight: 400;
    color: var(--text);
    font-family: 'sharlee';
    letter-spacing: 0.4px;
    line-height: 1.4em;
    text-align: center;
    margin-bottom: 3em;
}

#conclusion .side-by-side {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
    padding: 1em;
    border-radius: 10px;
    background-color: var(--shade);
    border: 3px solid var(--shade);
    opacity: 0.8;
    transition: 0.2s ease-in;
}

#conclusion .side-by-side:hover {
    opacity: 1;
}

#conclusion .side-by-side .elaborate {
    font-size: 1.3em;
    text-align: left;
    margin: 0;
}

#conclusion .conclusion-img {
    width: 45%;
    margin-right: 2em;
    height: auto;
    opacity: 0.8;
    border-radius: 10px;
}

#conclusion .content .trivia {
    width: 100%;
    height: 100%;
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-top: 1em;
    padding-bottom: 3em;
}

#conclusion .content .trivia>* {
    z-index: 2200;
}

#conclusion .content .trivia .trivia-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#conclusion .content .trivia .trivia-heading {
    font-size: 2.5em;
    font-weight: 800;
    color: var(--text);
    font-family: 'sharlee';
    margin-bottom: 0;
    padding: 0 0.5em;
}

#conclusion .content .trivia .trivia-describe {
    font-size: 1.3em;
    font-weight: 400;
    color: var(--text);
    font-family: 'sharlee';
    letter-spacing: 0.4px;
    line-height: 1.4em;
    padding: 0 2em;
    text-align: center;
}

#quiz {
    width: 80%;
    height: 100%;
    margin: 2em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    background: var(--shade);
    border: 2px solid #88818139;
}

[theme='light'] #quiz {
    border: 2px solid var(--shade);
}

#quiz .question-container {
    width: 100%;
    height: 100%;
}

#quiz .quiz-footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    border-top: 2px solid var(--shade);
    user-select: none;
}

#quiz .quiz-footer .control-btn {
    border: none;
    padding: 0.4em 1.5em;
    border-radius: 4px;
    font-size: 1.2em;
    font-weight: 100;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in;
    cursor: pointer;
    background: var(--adrak);
}

#quiz .quiz-footer .control-btn:focus {
    outline: none;
}

#next-btn::after {
    content: "→";
    display: inline-block;
    width: 1.2em;
    margin-left: 0.5em;
    font-family: 'sharlee';
    font-size: 1.5em;
    opacity: 0.7;
    transition: transform 0.2s ease-in-out;
    color: var(--text);
}

[theme='light'] #quiz .quiz-footer .control-btn {
    background: var(--primary2);
}

#next-btn:hover::after {
    transform: translateX(0.4em);
}

#prev-btn::before {
    content: "←";
    display: inline-block;
    width: 1.2em;
    margin-right: 0.5em;
    font-family: 'sharlee';
    font-size: 1.5em;
    opacity: 0.7;
    transition: transform 0.2s ease-in-out;
    color: var(--text);
}

#prev-btn:hover::before {
    transform: translateX(-0.4em);
}

#prev-btn::after {
    content: "Previous";
    color: var(--text);
    display: inline-block;
    font-family: 'Azonix';
    font-size: 1.2em;
    opacity: 0.5;
}

#next-btn::before {
    content: "Next";
    color: var(--text);
    display: inline-block;
    font-family: 'Azonix';
    font-size: 1.2em;
    opacity: 0.5;
}

#quiz .quiz-footer .question-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}

#quiz .quiz-footer .question-info .question-number {
    font-size: 1.5em;
    font-weight: 100;
    color: var(--text);
    font-family: 'Rowdies';
}

#quiz .quiz-footer .question-info .anju {
    font-weight: 100;
    color: var(--text2);
    font-family: 'Rowdies';
    background: #66666633;
    padding: 0.1em 0.4em;
    border-radius: 3px;
}


#quiz .question {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
}

#quiz .question .question-text {
    text-align: center;
    font-family: 'Rowdies';
    font-weight: 100;
    font-size: 2em;
    letter-spacing: 0.02em;
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 0.5em;
    margin-bottom: 2em;
}

#quiz .question .question-options {
    width: calc(90% - 6em);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    margin: 0 2em;
}

#quiz .question .question-options .option {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 2em;
    border-radius: 5px;
    background: var(--adrak);
    color: var(--text2);
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    transition: all 0.1s ease-in;
    user-select: none;
    cursor: pointer;
}

#quiz .question .question-options .option input {
    display: none;
}

#quiz .question .question-options p {
    opacity: 0.8;
    cursor: inherit;
}

[theme='light'] #quiz .question .question-options .option {
    background: var(--primary2);
}

#quiz .question .question-options .option:hover {
    box-shadow: 0 0 5px var(--whitish);
}

[theme='light'] #quiz .question .question-options .option:hover {
    background: #d7cbcb;
    color: #000000cc;
}

/* smooth red orange green blue colors for each option  */


#quiz .question .question-options .option.wrong {
    background: #c7533f77;
}

#quiz .question .question-options .option.wrong:hover {
    background: #c7533f77;
}

#quiz .question .question-options .option.correct {
    background: #8bbd8d4f;
}

#quiz .question .question-options .option.correct:hover {
    background: #51ae514f;
}

.quiz-divider {
    width: 90%;
    height: 3px;
    position: relative;
    margin: 0em 0;
    margin-bottom: 4em;
    background: var(--text);
    opacity: 0.05;
}



/*=================Remote Classes=========== */


.fontr {
    font-family: rowdies;
    font-weight: 100;
}

.fonts {
    font-family: 'sharlee';
}

.divider-50 {
    width: 100%;
    height: 3px;
    position: relative;
    margin: 4em 0;
}

.divider-50::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--text);
    opacity: 0.2;
}

.tpm {
    color: var(--text);
}

.btn1 {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-family: 'Rowdies';
    color: var(--text);
    font-size: 1.5vw;
    font-weight: 100;
    transition: ease-in 0.2s;
    user-select: none;
    display: flex;
    flex-direction: row;
    opacity: 0.8;

    background: var(--shade);
    border: 2px solid #767676e8;

}

.btn1 svg {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    transition: ease-in 0.2s;
    transition: transform 0.4s ease-out;
}

.btn1 svg path {
    stroke: var(--text);
}

.btn1:hover {
    opacity: 1;
}

.btn1:hover svg {
    transform: translateX(10px);
}

.btn1:active svg {
    transform: translateX(20px);
}

.blur-bg::after {
    content: '';
    position: absolute;
    background-image: url(/res/collaborate.png);
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    filter: blur(50px);
    opacity: 0.2;
}

:root[theme='light'] .blur-bg::after {
    background-image: url(/res/trust.png);
}

.blur-bg {
    position: relative;
    overflow: hidden;
    /* background: transparent; */
}

/*================Loading Screen===========*/
#loader-screen {

    /* display: none; */

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: var(--adrak);
    transition: 0.5s ease-out;
}

.loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}

.loader {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 4px solid var(--cursor-color);
    border-color: var(--cursor-color) var(--cursor-color) transparent transparent;
    animation: spin 1s linear infinite;
    margin-right: 1em;
}

.loader-text {
    font-family: monospace;
    font-size: 2em;
    font-weight: 100;
    color: var(--cursor-color);
    margin-top: 1em;
    user-select: none;
    letter-spacing: -0.04em;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(200deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/*===============Background================*/
.star-bg {
    display: none;
}


/*================Custom Cursor============*/


.cursor {
    width: 23px;
    height: 23px;
    position: fixed;
    mix-blend-mode: difference;
    pointer-events: none;
    border-radius: 50%;
    border: 1px solid var(--cursor-color);
    z-index: 999;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition-timing-function: linear;
}

.cursor-dot {
    z-index: 999;
    position: fixed;
    padding: 2.2px;
    border-radius: 50%;
    background: var(--cursor-color);
    pointer-events: none;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition-timing-function: linear;
}

.cdox {
    cursor: none;
}

.cursor-grow {
    cursor: none;
}

.cursor-hide {
    cursor: initial;
}

.cp {
    cursor: pointer;
}

.currsor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    transform-origin: center center;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 1000;
    filter: url("#goo");
}

.currsor span {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 20px;
    transform-origin: center center;
    transform: translate(-50%, -50%);
    background: var(--cursor-color);
}

#uwu-filter {
    display: none;
}

/*================Scrollbar================*/


::-webkit-scrollbar {
    width: 0;
    cursor: initial;
    display: none;
}

::selection {
    background: rgba(183, 172, 172, 0.515);
}

/*=========Custom Fonts========= */
@font-face {
    font-family: 'Azonix';
    src: url('/res/fonts/Azonix.otf');
}

@font-face {
    font-family: 'sharlee';
    src: url('/res/fonts/sharlee.woff2');
}


/*================Noise Effect=============*/

@-webkit-keyframes grain {

    0%,
    to {
        transform: translate(0);
    }

    10% {
        transform: translate(-5%, -10%);
    }

    20% {
        transform: translate(-15%, 5%);
    }

    30% {
        transform: translate(7%, -25%);
    }

    40% {
        transform: translate(-5%, 25%);
    }

    50% {
        transform: translate(-15%, 10%);
    }

    60% {
        transform: translate(15%);
    }

    70% {
        transform: translateY(15%);
    }

    80% {
        transform: translate(3%, 35%);
    }

    90% {
        transform: translate(-10%, 10%);
    }
}

@keyframes grain {

    0%,
    to {
        transform: translate(0);
    }

    10% {
        transform: translate(-5%, -10%);
    }

    20% {
        transform: translate(-15%, 5%);
    }

    30% {
        transform: translate(7%, -25%);
    }

    40% {
        transform: translate(-5%, 25%);
    }

    50% {
        transform: translate(-15%, 10%);
    }

    60% {
        transform: translate(15%);
    }

    70% {
        transform: translateY(15%);
    }

    80% {
        transform: translate(3%, 35%);
    }

    90% {
        transform: translate(-10%, 10%);
    }
}

.noise {
    position: fixed;
    z-index: 9999;
    top: -300%;
    left: -150%;
    height: 600%;
    width: 600%;
    -webkit-animation: grain 7s steps(10) infinite;
    animation: grain 7s steps(10) infinite;
    background-image: url(/res/noise.png);
    background-size: 200px;
    background-repeat: repeat;
    opacity: 0.1;
    pointer-events: none
}


/*
==========================================================================
*/


@media screen and (max-height: 700px) {
    .menu-open {
        padding-top: calc(var(--header-height) + 2em);
        padding-bottom: 2em;
    }

    .menu-container {
        padding-top: 2em;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-between;
    }

    .menu-items {
        width: max-content;
    }

    .menu-extras {
        padding-right: 8em;
        height: 100%;
        width: max-content;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: center;
    }

    .menu-links {
        margin-top: 5em;
        flex-direction: column;
    }

    .menu-links a {
        margin: 0.3em 0;
    }

    .menu-btn-container {
        display: flex;
        justify-content: center;
        padding-right: 2em;
    }
}



#theme-screen {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--adrak);
    transition: all 0.2s ease-out, background 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
    z-index: 30;
    display: none;
}

/* ======== Foooter ======== */

footer {
    width: 100%;
    height: auto;
    background: var(--adrak);
    display: flex;
}

footer .text {
    width: 100%;
    height: auto;
    background-color: var(--shade);
    padding: 0.8em;
    text-align: center;
    font-family: 'Rowdies', cursive;
    color: var(--text);
    font-size: 1.2em;
    font-weight: 100;
    border-top: 2px solid var(--shade);
    opacity: 1;
}

footer .heart {
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    transform-origin: center;
    margin: 0 0.2em;
    animation: dhak-dhak 0.3s infinite alternate;
    animation-play-state: paused;
}

footer:hover .heart{
    animation-play-state: running;
}

footer .text a {
    color: var(--text);
}

@keyframes dhak-dhak {
    to { transform: scale(1.2) ;
    }
}



@media only screen and (max-width: 768px) {

    :root {
        --header-height: 6em;
    }

    .nav .landing-text {
        font-size: 7vw;
        padding-left: 0.2em;
    }

    .nav {
        max-height: 8em;
    }

    .nav::after {
        opacity: 1;
    }

    .cursor {
        display: none;
    }

    .cursor-dot {
        display: none;
    }

    .currsor {
        display: none;
    }

    .currsor span {
        display: none;
    }
}